# 数据集
data/

# 实验产物
experiments/

# 空占位目录
checkpoints/
results/

# pptx 文件
*.pptx

# 仅主目录下的 md 文件
/*.md

# pdf 文件，但保留复现论文.pdf
*.pdf
!复现论文.pdf

# generate_ppt.py
generate_ppt.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

# 系统文件
.DS_Store
Thumbs.db
.idea
